{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block header %}
{% include 'inc/_topbar.html' %}
{% include 'inc/_navbar.html' %}
{% endblock %}

{% block content %}
<h1>Payment Policy</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vulputate erat lacus, posuere pellentesque purus sodales ut. Phasellus non lorem neque. Curabitur sodales, arcu quis pharetra consequat, turpis lectus dapibus lectus, in varius dui velit quis magna. Sed mattis condimentum gravida. In ut eleifend arcu. Praesent aliquam, nunc et vestibulum congue, nunc quam ornare magna, at viverra ipsum quam id sapien. Integer eu eleifend nulla, eu cursus ipsum. Mauris dolor ipsum, tempor at luctus non, luctus eu felis. Nullam pretium est vel elit vulputate lobortis. Phasellus nisi enim, eleifend ut urna et, scelerisque mollis justo. Phasellus bibendum, elit a posuere faucibus, dui ex porttitor odio, varius interdum nibh eros eu nunc.

Donec vel convallis massa, sed blandit mi. Aenean euismod mauris nunc, eget ultrices erat viverra id. Integer tempus urna sed laoreet gravida. Ut elit erat, congue a maximus at, rutrum sed mi. Quisque eu laoreet sem. Pellentesque et ante eu sapien lacinia lacinia in at urna. Donec eu neque posuere, tempor risus vel, pharetra ipsum. Maecenas euismod suscipit massa, et blandit libero ornare id. Nunc magna leo, maximus vitae orci congue, gravida tincidunt eros. Vivamus dolor lectus, dignissim in turpis in, dictum euismod erat.

Morbi condimentum nec tellus at placerat. Quisque volutpat velit ac eleifend ornare. Sed eleifend suscipit leo at iaculis. Donec malesuada turpis nec mauris tincidunt suscipit. Praesent rutrum pellentesque diam, nec lacinia urna convallis fringilla. Suspendisse sollicitudin semper felis ut laoreet. Etiam semper ante libero, eu facilisis nibh vulputate vitae. Nulla pulvinar ac nisl nec gravida. Curabitur id egestas ex, vel feugiat justo. Sed condimentum posuere magna in fringilla. Quisque sagittis purus non suscipit blandit.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean varius turpis ut ipsum consectetur pretium. Aenean mollis, eros eget vulputate consequat, ligula neque luctus sem, id fringilla enim sapien feugiat erat. Mauris convallis, lacus quis efficitur luctus, magna magna aliquam felis, eget laoreet quam enim convallis erat. Etiam pellentesque venenatis leo, sed egestas lorem suscipit sit amet. Ut in risus porttitor, tempor orci iaculis, pulvinar tortor. Proin ut feugiat ex.

Suspendisse posuere quis leo et sollicitudin. Cras non accumsan urna. Nam interdum quam sed est aliquet, quis venenatis risus malesuada. Aenean suscipit, erat vitae venenatis volutpat, nulla leo blandit nunc, in congue justo mi quis metus. Nam porttitor fermentum nulla sit amet placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur tristique metus ut iaculis porta. Nam vitae ligula venenatis, aliquet sem quis, semper sapien. Aenean interdum scelerisque urna, sit amet bibendum tortor pretium a. Proin sit amet odio quis nulla congue mattis.

Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris id leo vehicula, facilisis ante id, maximus tortor. Sed cursus neque vestibulum elementum tincidunt. Vivamus accumsan euismod luctus. Vivamus vehicula nisl nisi, consectetur bibendum orci laoreet a. Sed ullamcorper ex sed lectus finibus ultricies. Nulla quam risus, ullamcorper ac suscipit eu, maximus et justo. Vestibulum sagittis finibus pharetra. Proin ullamcorper sit amet erat in rutrum. Nunc a leo in nisl lobortis faucibus ac eleifend diam. Donec ligula leo, accumsan eget nunc facilisis, rutrum iaculis nibh. Pellentesque ullamcorper auctor tortor nec maximus. Vivamus faucibus velit maximus diam euismod, vitae dapibus metus pharetra. Curabitur efficitur arcu eget mauris egestas ornare. Nam finibus rutrum arcu vel finibus.

Nullam accumsan, dui at rhoncus pharetra, nulla nisl pretium ligula, vitae pulvinar risus quam sit amet nibh. Aenean vel viverra neque, vel tempor tortor. Integer scelerisque erat in lobortis tempor. Pellentesque dictum tellus odio, quis ultricies risus tincidunt nec. Pellentesque ultricies dolor augue, ornare feugiat tellus sagittis in. Nulla consectetur mi quis nibh laoreet viverra. Maecenas sed neque ullamcorper, viverra eros quis, condimentum augue. Morbi imperdiet diam a nunc condimentum ullamcorper. Mauris nulla dui, facilisis at sagittis vel, ornare finibus ex. Suspendisse luctus eleifend arcu sed semper. Morbi blandit lacus nec enim hendrerit, ac lacinia mauris vulputate. Donec et metus tellus.</p>
{% endblock %}

{% block footer %}
{% include 'inc/_footer.html' %}
{% include 'inc/_footerBottom.html' %}
{% endblock %}