{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block header %}
{% include 'inc/_topbar.html' %}
{% include 'inc/_navbar.html' %}
{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum, mi posuere dignissim auctor, metus leo egestas est, eget fringilla quam diam consectetur lacus. Ut volutpat cursus venenatis. Phasellus vitae erat eu ligula vestibulum gravida eu sed leo. Mauris auctor feugiat posuere. Duis vitae risus placerat, blandit dui nec, gravida mi. Curabitur in sagittis lectus. Cras interdum ac libero eget pulvinar. Morbi vitae porta nibh, sit amet euismod ante. Vivamus convallis urna non ornare sodales. Vivamus vel mattis risus. Vestibulum nec diam sollicitudin, congue elit ut, convallis felis. Nam suscipit laoreet ante, eget condimentum dui auctor posuere. Quisque aliquet diam a varius facilisis. Mauris ultricies dictum tempor.

Nam vel porta lorem. Donec vel erat mattis, scelerisque felis a, mattis elit. Sed posuere nec ex non eleifend. Donec commodo lectus at condimentum scelerisque. In id ipsum nec purus posuere ornare. Donec bibendum mollis dui. Morbi interdum nibh aliquet ante lobortis maximus. Etiam laoreet magna a magna facilisis bibendum. Nam eget ullamcorper metus.

Praesent in hendrerit mi, id elementum risus. Nulla iaculis pharetra quam a hendrerit. Mauris convallis non eros varius porttitor. Maecenas auctor porta sodales. Aliquam lobortis vitae odio eleifend congue. Cras ullamcorper, velit non lacinia cursus, mi justo varius ex, nec ultricies justo eros et quam. Nunc rutrum non ligula vitae suscipit. Aliquam maximus eu massa a mattis. Quisque ac nisl non urna congue scelerisque ac a nisl. Aenean a velit neque. Mauris vitae dapibus elit. Morbi scelerisque lectus eget erat sollicitudin, a finibus enim gravida. Donec nec facilisis ligula. Mauris a lacus eget odio venenatis euismod quis sed lacus.

Vestibulum iaculis quam dui, eu efficitur tellus vestibulum a. Sed scelerisque tempor hendrerit. Aenean gravida pulvinar fringilla. Nullam sit amet facilisis lacus. Ut dapibus lectus nec metus pellentesque tincidunt. Mauris vehicula lorem eget diam ornare ullamcorper. Integer cursus convallis sagittis. Duis finibus egestas dui. Suspendisse posuere elit quis lectus convallis, at cursus augue pretium. Sed nec leo pellentesque, gravida justo eget, posuere libero. Nam ultrices pulvinar magna. Duis accumsan imperdiet convallis.

Praesent id sodales tellus, at consectetur ipsum. Nam et enim ut nunc volutpat lobortis. Nunc pulvinar scelerisque lorem nec lacinia. Vestibulum enim erat, scelerisque at ornare nec, hendrerit vel massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc eget fringilla tellus. Sed consequat erat in libero tempor, quis luctus nibh condimentum. Aenean ultricies gravida fermentum. Quisque id augue ut nibh fermentum placerat eu ut diam. Suspendisse potenti. Vivamus interdum arcu a mi tempus dictum. In laoreet augue erat.

Donec a dui aliquet, laoreet urna vitae, vehicula lacus. Integer sit amet mi eget augue imperdiet ultrices vel eu ligula. Donec at nibh urna. Nullam vestibulum congue orci, vestibulum dapibus velit rutrum in. Nullam vitae tortor tempus, suscipit urna sed, sollicitudin ipsum. Vestibulum dignissim metus sit amet mi tempor, eget fringilla velit fringilla. Vivamus nec suscipit enim, a pretium nibh. Etiam vulputate felis purus, maximus posuere erat commodo efficitur. Proin facilisis, sapien non cursus tristique, magna libero viverra dolor, quis convallis leo nisl ac odio.

Vivamus aliquam ante et velit aliquet, sed aliquet eros mattis. Quisque pretium purus sit amet ex sodales interdum. Maecenas nisi augue, accumsan eget maximus vel, varius non mauris. Fusce imperdiet et erat quis molestie. Vivamus non efficitur purus. Sed mattis dui dolor, id ultrices lorem congue in. Duis non libero ut urna ornare pharetra eget id lectus. Nullam condimentum odio nec commodo ultricies. Curabitur egestas congue fringilla. Duis semper hendrerit pretium. Quisque congue turpis ac tortor rutrum scelerisque.</p>
{% endblock %}

{% block footer %}
{% include 'inc/_footer.html' %}
{% include 'inc/_footerBottom.html' %}
{% endblock %}