<div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                            <a href="{% url 'product_list' %}" class="nav-item nav-link">Products</a>
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'cart' pk=request.user.id %}" class="nav-item nav-link">Cart</a>
                            <a href="checkout.html" class="nav-item nav-link">Checkout</a>
                            <a href="{% url 'profile' pk=request.user.id %}" class="nav-item nav-link">My Account</a>
                            <a href="{% url 'wishlist' pk=request.user.id %}" class="nav-item nav-link">Wishlist</a>
                            <a href="{% url 'contact_us' %}" class="nav-item nav-link">Contact Us</a>
                            {% else %}
                            <a href="cart.html" class="nav-item nav-link">Cart</a>
                            <a href="checkout.html" class="nav-item nav-link">Checkout</a>
                            <a href="{% url 'register' %}" class="nav-item nav-link">My Account</a>
                            <a href="{% url 'register' %}" class="nav-item nav-link">Wishlist</a>
                            <a href="{% url 'register' %}" class="nav-item nav-link">Contact Us</a>
                            {% endif %}
                           <!-- <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                                <div class="dropdown-menu">
                                    <a href="wishlist.html" class="dropdown-item">Wishlist</a>
                                    <a href="login.html" class="dropdown-item">Login & Register</a>
                                    <a href="{% url 'contact_us' %}" class="dropdown-item">Contact Us</a>
                                </div>
                            </div> -->
                        </div>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                {% if request.user.is_authenticated %}
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Welcome, {{ user.first_name }}!</a>
                                <div class="dropdown-menu">
                                    <a href="{% url 'profile' pk=request.user.id %}" class="dropdown-item">Profile</a>
                                    <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
                                {% else %}
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                                <div class="dropdown-menu">
                                    <a href="{% url 'login' %}" class="dropdown-item">Login</a>
                                    <a href="{% url 'register' %}" class="dropdown-item">Register</a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>